<h1><%= @employee.name %></h1>
<p>Department: <%= @employee.department.name %></p>

<h2>All Tickets</h2>
<ul id="tickets">
  <% @tickets.each do |ticket| %>
    <li><%= ticket.subject %> - <%= ticket.age %></li>
  <% end %>
</ul>

<h2>Oldest Ticket</h2>
<% if @oldest_ticket %>
  <p><%= @oldest_ticket.subject %> - <%= @oldest_ticket.age %></p>
<% else %>
  <p>No tickets found.</p>
<% end %>

<h2>Add a Ticket</h2>
<%= form_with url: "/employees/#{@employee.id}", method: :post do |form| %>
  <%= form.label :ticket_id %>
  <%= form.number_field :ticket_id %> 
  <%= form.submit "Submit" %>
<% end %>